language: php

matrix:
  fast_finish: true
  include:
    - php: 5.5
    - php: 5.6
      env:
        - EXECUTE_TEST_COVERALLS=true
    - php: 7

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update

install:
  - composer install --no-interaction

before_script:
  - sudo pip install codecov
  - echo "CREATE USER 'board'@'localhost' IDENTIFIED BY '111';" | mysql -u root
  - echo "GRANT ALL PRIVILEGES ON *.* TO 'board'@'localhost';" | mysql -u root
  - sh -c "mysql -e 'FLUSH PRIVILEGES;'"
  - sh -c "mysql -e 'CREATE DATABASE board;'"
  - sh -c "mysql -e 'CREATE TABLE board.tasks (
   id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
   name varchar(255) NOT NULL,
   assignee varchar(2) NOT NULL,
   status tinyint(1) NOT NULL,
   type tinyint(1) NOT NULL
   ) ENGINE=InnoDB  DEFAULT CHARSET=utf8 AUTO_INCREMENT=1;'"
  - echo "INSERT INTO board.tasks (id, name, assignee, status, type) VALUES (2, 'qq', 'qq', 1, 1), (3, '194556', '45', 0, 0), (4, 'Some name', 'AA', 0, 0);" | mysql

script:
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then ./vendor/bin/phpunit --coverage-clover=coverage.xml ; fi
  - if [[ $EXECUTE_TEST_COVERALLS != 'true' ]]; then ./vendor/bin/phpunit ; fi

after_success:
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then codecov ; fi

notifications:
  email:
    - gulturyan@gmail.com
